<div class="actions">
    <a class="btn btn-primary" href="{{ path('show_article', {
        slug: article.slug
    }) }}">Lire la suite</a>
    <a class="btn btn-warning" href="{{ path('edit_article', {
        slug: article.slug
    }) }}">Modifier</a>
    <!-- TODO - change this to a form with a DELETE method -->
    <!-- TODO - add a confirmation modal -->
    <a class="btn btn-danger" href="{{ path('delete_article', {
        slug: article.slug
    }) }}">Supprimer</a>
</div>
