<div class="actions">
    {{ include('_inc/_link.html.twig', {
        btn_class: 'btn btn-primary',
        icon: 'fa fa-eye',
        path: path('show_article', {
            slug: article.slug
        }),
        text: 'Lire la suite'
    }) }}

    {% if 'ROLE_ADMIN' in user.roles %}
        {{ include('_inc/_link.html.twig', {
            btn_class: 'btn btn-warning',
            icon: 'fa fa-edit',
            path: path('edit_article', {
                slug: article.slug
            }),
            text: 'Modifier'
        }) }}
        <!-- TODO - change this to a form with a DELETE method -->
        <!-- TODO - add a confirmation modal -->
        {{ include('_inc/_link.html.twig', {
            btn_class: 'btn btn-danger',
            icon: 'fa fa-trash',
            path: path('delete_article', {
                slug: article.slug
            }),
            text: 'Supprimer'
        }) }}
    {% endif %}
</div>
