<div class="actions">
    {{ include('_inc/_link.html.twig', {
        btn_class: 'btn btn-primary',
        icon: 'fa fa-eye',
        path: path('show_article', {
            slug: article.slug
        }),
        text: 'Lire la suite'
    }) }}

    {% if 'ROLE_ADMIN' in user.roles or article.user.id is same as(user.id) %}
        {{ include('_inc/_link.html.twig', {
            btn_class: 'btn btn-warning',
            icon: 'fa fa-edit',
            path: path('edit_article', {
                slug: article.slug
            }),
            text: 'Modifier'
        }) }}
        {{ include('_inc/_form_article_delete.html.twig') }}
    {% endif %}
</div>
