<form action="{{ path('delete_article', {slug: article.slug}) }}" method="POST" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cet article ?');">
    <button type="submit" class="btn btn-block btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Supprimer
    </button>
</form>
