{% extends 'layout.html.twig' %}

{% block layout %}
    <h1>ABDOUNI Abdelkarim</h1>
    <img src="https://cdn.pixabay.com/photo/2016/10/02/19/51/lion-1710301_1280.png" alt="Mon logo" id="logo">

    <h2>Le développeur full-stack ninja pour répondre à vos besoins</h2>

    {{ include('_inc/_form.html.twig', {
        btn_class: 'btn btn-primary',
        icon: 'fa fa-envelope',
        text: 'Envoyer'
    }) }}

    <a href="https://www.canva.com/design/DAD1YooGK0E/1xyeyXB5KwiVOhrEc_Ayjw/edit?utm_content=DAD1YooGK0E&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank">Mon CV</a>
    <a href="https://github.com/abdounikarim" target="_blank">GitHub</a>
    <a href="https://fr.linkedin.com/in/abdelkarim-abdouni" target="_blank">LinkedIn</a>
    <a href="https://twitter.com/abdounikarim" target="_blank">Twitter</a>
{% endblock %}
