{% extends 'layout.html.twig' %}

{% block layout %}
    <h2>Connexion</h2>
    <div class="my-5">
        {{ include('_inc/_form.html.twig', {
            btn_class: 'btn btn-primary',
            icon: 'fa-solid fa-lock-open',
            text: 'Se connecter'
        }) }}
    </div>
{% endblock %}
