{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion</h1>

    <form>
        <label for="email">Email</label>
        <input type="email" id="email">
        <label for="password">Password</label>
        <input type="password" id="password">
        <input type="submit" value="Connexion">
    </form>
{% endblock %}
