{% extends 'layout.html.twig' %}

{% block layout %}
    <h2>Inscription</h2>
    <div class="my-5">
        {{ include('_inc/_form.html.twig', {
            btn_class: 'btn btn-primary',
            icon: 'fa fa-check',
            text: 'S\'inscrire'
        }) }}
    </div>
{% endblock %}
