{# TODO - replace this with {{ form(form) }} #}
<form method="POST" action="{{ path('new_article') }}">
    <label>
        <input type="text" name="title">
    </label>
    <input type="submit" value="Ajouter">
</form>
