{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit article {{ article.title }} with slug : {{ slug }}</h1>

    {{ include('_inc/_form.html.twig', {
        submit_value: 'Mettre à jour'
    }) }}
{% endblock %}
